requests==2.32.3
beautifulsoup4==4.13.3
urllib3==2.3.0
playwright==1.50.0
requests-html==0.10.0
selenium==4.29.0
webdriver-manager==4.0.2
undetected-chromedriver==3.5.5
asyncio==3.4.3
greenlet==3.1.1
pyee==12.1.1 